#title{
    color:white;
    font-family: 'Merienda', cursive;
    font-weight:700;
    background-color: #00b5ff;
    width:50%;
    position:relative;
    left:25%;
    padding:25px;
    border:10px double white;
    border-radius:10px;
}

row{
    width:700px;
}

nav{
    background-color:#CCC314;
    font-family: 'Merienda', cursive;
    font-weight:700;
}

#navigation{
    margin-left:10%;
}

#synopsisSection{
    background-color: red;
}

#authorSection{
    background-color: purple;
}

#authorNote{
    background-color:yellow;
}

#authorBio{
    background-color: white;
}

#linksSection{
    background-color:green;
}

.images{
    margin:10px;
    border:10px double white;  
    border-radius:10px;  
}

.backPic{
    background-image: url("../images/bckgd.jpg");
}