#title{
    color:purple;
    font-family: 'Merienda', cursive;
    font-weight:700;
}

nav{
    background-color:black;
    font-family: 'Merienda', cursive;
    font-weight:700;
}

#navigation{
    margin-left:10%;
}