#title{
    color:purple;
    font-family: 'Merienda', cursive;
    font-weight:700;
}

row{
    width:700px;
}

nav{
    background-color:black;
    font-family: 'Merienda', cursive;
    font-weight:700;
}

#navigation{
    margin-left:10%;
}

#synopsisSection{
    background-color: red;
}

#authorSection{
    background-color: purple;
}

#authorNote{
    background-color:yellow;
}

#authorBio{
    background-color: white;
}

#linksSection{
    background-color:green;
}

.images{
    margin:10px;
}